<h1 class="center">Chat Room!</h1>

<form action="./chat/api" method="POST" role="form" id="chatForm" >
<!-- This Div will contain All the Chats -->
  <div id="chatsContainer"></div>

  <!-- A text field to let user enter his/her name -->
  <div class="center">
  <input type="text" id="username" value="<%= currentUser.userName %>">
  <br>
  <!-- This is were we write our message -->
  <input type="text" id="myMsg" name='textBody' placeholder="Write your message...">
  <br>
  <!-- And this is our "Send Button" -->
  <button id="sendBtn">Send</button>
  </div>
</form>
<p style="display:none;" id="to"><%= currentUser.language %></p>
<!-- <p id='hide'><%= 'key='+process.env.SPEAKEASY_KEY+'&' %></p> -->


<!-- <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<script>
var socket = io();
var decoratedHtml;
var input;
var interpetedText;
var bi;
var $user;
var $msg;
var room = 'abc123';


var apiKey = 'key='+process.env.SPEAKEASY_KEY+'&';
var from = 'en';
var to = $('#to').text();
var url = 'https://www.googleapis.com/language/translate/v2?q=';

var language = function() {
    var answer = prompt("Pick a language Hebrew, Spanish, Arabic");
    if(answer.toLowerCase() == 'hebrew') {
        to = 'iw';
    } else if(answer.toLowerCase() == 'spanish') {
          to = 'es';
    } else {
        to = 'ar';
    }
}
//language();


var date = new Date(Date.UTC(2013, 1, 1, 14, 0, 0));
var options = {
    weekday: "long", year: "numeric", month: "short",
    day: "numeric", hour: "2-digit", minute: "2-digit"
};
var d = date.toLocaleTimeString("en-us", options);
console.log(d);
var translateText = function() {
  $.ajax({
    url: url+input+'&source='+from+'&target='+to+'&'+apiKey,
    type: 'GET',
    //headers: { 'Authorization': 'token ' + githubToken },
    success: function(data, message, xhr) {
          interpetedText = data.data.translations[0].translatedText
          decoratedHtml = '<p class="msgfield"><b>'+ $user +'</b> '+ interpetedText +'&nbsp;&nbsp;&nbsp;&nbsp;<small>'+d+'</small></p>';
          $('#chatsContainer').append(decoratedHtml);
    }
  });
};

socket.on('connect', function () {
  socket.emit('room', room);
});


$('#sendBtn').on('click', function(e) {
    e.preventDefault();
    var msg = $('#myMsg').val().trim();

    if(msg.length > 0) {
        var userName = $('#username').val();

        var completeMsg = userName + ': ' + msg;

        socket.emit('msg', completeMsg);
    }
});

socket.on('msg', function(incomingMsg) {
    bi = incomingMsg.indexOf(':');
    $user = incomingMsg.slice(0, bi+1);
    $msg = incomingMsg.slice(bi+1).trim();
    input=encodeURIComponent($msg);
    translateText();

});

</script> -->
