
<section>
  <h1>About Team SpeakEasy</h1>
  <h2>The SpeakEasy project is a final project for the Code Fellows 301 class of January, 2016 in Seattle, Washington.  Our team is composed of Alemneh Asefa, Andy Malik, and Patrick Trompeter.  Our goal for this project was to build a tool for cross-cultural communication.  Our app is a free, open-source penpal site that automatically translates a user's message from his or her native language to the language of the recipient.  This project was particularly appealing to us because it requires a substantial backend with a database (ours is built on postgres), user authentication, and persistent sessions; it was an exciting opportunity to learn about backend development in a front-end class.  We hope to expand this project in the future with more robust penpal matching filters, and possibly a mobile app for iOS.</h2>
  <p class="text">Alemneh .</p>
</section>
