<h1 class="center">Chat Room!</h1>

<form id="chatForm" >
<!-- This Div will contain All the Chats -->
<div id="chatsContainer"></div>

<!-- A text field to let user enter his/her name -->
<div class="center">
<input type="text" id="username" value="<%= currentUser.userName %>">
<br>
<!-- This is were we write our message -->
<input type="text" id="myMsg" placeholder="Write your message...">
<br>
<!-- And this is our "Send Button" -->
<button type="submit" id="sendBtn">Send</button>
</div>
</form>
<p style="display:none;" id="to"><%= currentUser.language %></p>
<p id='hide'><%= 'key='+process.env.SPEAKEASY_KEY+'&' %></p>
