<div class="center" id="loginMobile">
  <form action="/auth/login" method="POST" role="form">
      <input type="text" name="username" placeholder="Username" /><br>
      <input type="text" name="password" placeholder="Password" /><br>
      <button type="submit" id="frontLoginBtn">Login</button>
  </form>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->
	<!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="/images/paris.jpg" /></a>
      <div class="carousel-caption">
        <h1>SpeakEasy</h1>
      </div><!-- end carousel-caption -->
    </div><!-- end item -->
    <div class="item">
      <a href="#"><img src="/images/tokyo.jpg" /></a>
      <div class="carousel-caption">
        <h1>SpeakEasy</h1>
      </div><!-- end carousel-caption -->
    </div><!-- end item -->
    <div class="item">
      <a href="#"><img src="/images/sanfran.jpg" /></a>
      <div class="carousel-caption">
        <h1>SpeakEasy</h1>
      </div><!-- end carousel-caption -->
    </div><!-- end item -->
    <div class="item">
      <a href="#"><img src="/images/cairo.jpg" /></a>
      <div class="carousel-caption">
        <h1>SpeakEasy</h1>
      </div><!-- end carousel-caption -->
    </div><!-- end item -->
    <div class="item">
      <a href="#"><img src="/images/redsq.jpg" /></a>
      <div class="carousel-caption">
        <h1>SpeakEasy</h1>
      </div><!-- end carousel-caption -->
    </div><!-- end item -->
    <div class="item">
      <a href="#"><img src="/images/rio.jpg" /></a>
      <div class="carousel-caption">
        <h1>SpeakEasy</h1>
      </div><!-- end carousel-caption -->
    </div><!-- end item -->
    <div class="item">
      <a href="#"><img src="/images/dubia2.jpg" /></a>
      <div class="carousel-caption">
        <h1>SpeakEasy</h1>
      </div><!-- end carousel-caption -->
    </div><!-- end item -->
    <div class="item">
      <a href="#"><img src="/images/hongkong2.jpg" /></a>
      <div class="carousel-caption">
        <h1>SpeakEasy</h1>
      </div><!-- end carousel-caption -->
    </div><!-- end item -->
  </div><!-- carousel-inner -->

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div><!-- end myCarousel -->
