<h1>Home</h1>
<div id="home" class="container">
  <h1>SpeakEasy</h1>
  <form>
    <h3>Login</h3>
    <p>Username: <input type="text" placeholder="John"></p>
    <p>Password: <input type="text" placeholder="**********"></p>
  </form>
</div>
