<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SpeakEasy: your penpal app</title>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>
    <ul>
      <li>
        <a href='/'>home</a>
      </li>
      <li>
        <a href='/about'>about</a>
      </li>
    </ul>
    <%- body %>
  </body>
</html>
