<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SpeakEasy: your penpal app</title>
    <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="../public/scripts/chat.js"></script>
  </head>
  <body>
    <nav>
      <li><a href='/'>HOME</a></li>
      <li><a href='/about'>ABOUT</a></li>
      <% if (currentUser) { %>
        <li><a href='/users'>users page</a></li>
       <li> Hello, <%= currentUser.userName %></li>
       <li><a href="/auth/logout">LOGOUT</a></li>
      <% } else { %>
      <li><a href='/auth/signup'>CREATE ACCOUNT</a></li>
      <li><a href='/auth/login'>LOGIN</a></li>
      <% }%>
    </nav>
    <div id="home">
    <% if(typeof alerts !== 'undefined'){ %>
      <% for(key in alerts){ %>
          <% alerts[key].forEach(function(thisMsg){ %>
              <div class="alert alert-<%= key %>"><%= thisMsg %></div>
        <% }); %>
      <% } %>
     <% } %>
    <%- body %>
    </div>
    <footer>
        <ul>
          <li><a href="#">SECURITY</a></li>
          <li><a href="#">SAVED APPLICATION</a></li>
          <li><a href="#">TERMS & CONDITIONS</a></li>
          <li><a href="#">SEND A SUGGESTION</a></li>
          <li><a href="#">PRIVACY</a></li>
          <li><a href="#">CAREERS</a></li>
        </ul>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">CREATE ACCOUNT</a></li>
        </ul>
    </footer>
  </body>
</html>
