<h1>Users page</h1>
<div class='myPals'>
  <% include ./users/mycurpals %>
</div>
<div class='filterPals'>
  <section id='findnew'>
    <% include ./users/findnew.ejs %>
  </section>
  <hr />
  <section id='recvnew'>
    <% include ./users/recvnew %>
  </section>
</div>
