
/* --------------------------------------
   Layout
   -------------------------------------- */

/**********************************************STYLE GUIDE**********************************************
|                                    Don't be afraid to experiment!                                    |
|                                                                                                      |
|                                             Whitescales                                              |
| #EDF1F3 - Lightest color. Can be used for content background (lighter than main background).         |
| #D2DDE1 - One shade darker. Useful for on hover effects on sidebar, as well as MAIN BG               |
| #ABB7BE - One more shade darker. Useful for sidebar and footer background colors.                    |
|                                                                                                      |
|                                             Bright Color                                             |
| #ABDFF8 - Faded sky blue. Possibly main :hover color for most situations. Experimentation is key.    |
|                                                                                                      |
|                                             Medium Colors                                            |
| #689BD2 - Cool blue. Feels like a good color for a main nav bar.                                     |
| #634B9E - Strong purple. This color stands out but doesn't distract. Possible color for the buttons  |
|                          and maybe it could be for a thin 1px border on some places too.             |
|   (Like I said, we should experiment. Try switching these two colors and see if that looks better)   |
|                                                                                                      |
|                                              Dark Colors                                             |
| #47156C - The dark purple. This color can be font-color for a bright field with dark text, or switch |
|                            it with #EDF1F3 and run a dark background with lighter text.              |
|                                                                                                      |
|                                               Gradients                                              |
| #47156C -> #69368A - Same dark purple as above, transitioning to medium shade. Can be used as a      |
|                      background graident inplace of the solid color, or just the top 1/3rd.          |
| #3169A4 -> #050B12 - A medium deep blue translates to a slightly tinted black. These colors can vary |
|                     for a few purposes. Experimentation will help figure out where we will use this. |
*******************************************************************************************************/

body {
  font-family: 'Actor', sans-serif;
}

.maincontent {
  background-color: #EDF1F3;
}

nav li {
  display: inline-block;
}

.alert {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

button {
  box-shadow: 1px 1px 5px;
  margin: 15px 0;
}

footer {

  background-color: #ABB7BE;
  max-height: 100%;
  padding: 5%;
  max-width: 100%;
  overflow: hidden;
  margin-top: 25px;

}

footer ul {
  list-style-type: none;
  text-align: center;
}
/* --------------------------------------
   Header
   -------------------------------------- */
header {
  background-color: #634B9E;
  height: 100px;

}
.mynav {
  list-style: none;
  margin-top: 5px;
}
.mynav li {
  display: inline;
}

header #logo {
  height: 80px;
  width: 80px;
  overflow: hidden;
  line-height: 25px
  padding: 1px;
  background-color: #47156C;
  float: left;
  margin: 10px 5px 0 10px;
}
header #logo p {
  color: white;
  text-align: center;
  padding: 0;
  margin-top: 30%;
}

#logo img {
  width: 100%;
}

header #login {
  float: right;
  margin: 25px 20px 0 0;
}

#hamMenu {
  float: right;
  display: none;
}
/* --------------------------------------
   Links
   -------------------------------------- */

footer a {
  color: #47156C;
}
a {
  color: #EDF1F3;
  text-decoration: none;
}

a:hover {
    color: #ABDFF8;
}

/* --------------------------------------
   Home
   -------------------------------------- */


   #loginMobile form {
     display: none;
   }

/*#home {
  max-width:  100%;
  padding: 0;
  margin: 0;
  background-color: #D2DDE1;
}

#home h1 {
  font-size: 3em;
}*/


/* --------------------------------------
   Chat Room
   -------------------------------------- */

div#im a {
    font-size: 1.5em;
    color: #47156C;
}

#chatsContainer {
  height: 300px;
  width: 75%;
  border: 2px inset #eee;
  overflow: auto;
  margin: 15px auto;
  background: #FFF;
}

#myMsg,
#sendBtn,
#username {
    width: 300px;
    height: 30px;
    margin-top: 5px
}

.msgfield {
    padding: 5px;
    background: skyblue;
    margin: 10px;
    border-radius: 5px;
    border: 3px outset #CED4F5;
}

/* --------------------------------------
   Users
   -------------------------------------- */

.myPals {
  width: 63%;
  display: inline-block;
}

.filterPals, .palRequests {
  border: 1px solid #bbb;
  background-color: #bbb;
  padding: 0.4em;
  width: 33%;
  display: inline-block;
  border-radius: 10px;
}

.error {
  color: #e00;
  font-weight: bold;
  margin: 5px;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel {
   max-width: 100%
}

#myCarousel h1 {
   margin-bottom: 100px;
   font-size: 70px;
}


.carousel-caption {
   font-size: 24px;
}

/*#myCarousel .item { height: 400px;}*/

#slide1 {
   background: url('../../images/sanfran.jpg') top center no-repeat;
}

#slide2 {
   background: url('../../images/tokyo.jpg') top center no-repeat;
}

#slide3 {
   background: url('../../images/paris.jpg') top center no-repeat;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


   #myCarousel .item { height: 310px;}

   #slide1 {
      background: url('../../images/pic1.jpg') top center no-repeat;
   }

   #slide2 {
      background: url('../../images/pic2.jpg') top center no-repeat;
   }

   #slide3 {
      background: url('../../pic3.jpg') top center no-repeat;
   }

   .carousel-caption {
      font-size: 16px;
   }

   .carousel-caption h4 {
      font-size: 22px;
   }

}

@media only screen and (max-width: 890px) {
    div#login form {
      display: none;
    }


}

/* Large desktop */
@media only screen and (max-width: 680px) {
 #loginMobile form {
    display: inline;
  }

 header {
   padding-top: 10px;
 }

 header #logo {
   height: 60px;
   float: none;
 }

 #myCarousel {
   display: none;
 }

  nav#nav {
      list-style-type: none;
      background: #634B9E;
      float: left;
      margin-top: 20px;
      display: none;

  }

  nav li {
    display: block;
    padding: 15px;
    margin-right: 680px;
  }

  footer ul{
    float: none;
  }

  #frontLoginBtn {
    margin-top: 15px;
  }

  #hamMenu {
    float: right;
    display: inline;

  }
  #loginMobile form {
    margin: 100px 0 150px 0;
  }
  #loginMobile input {
    height: 30px;
    width: 250px;
    margin: 10px 0;
  }
}


/* --------------------------------------
   Misc.
   -------------------------------------- */

#new-message {
  margin: 70px 0 100px 0;
}

#new-message input {
  margin: 10px 0;
}
.center {
  text-align: center;
}

.text {
  text-align: left;
  margin: 5%;
}

/*///////////////Messages//////////*/
.message {
  font-family: 'Rokkitt', serif;
  font-size: 1rem;
}

/*/////////Table-Rows-Data//////*/
table {
  border: 1px solid black;
  margin-left: 3%;
  text-align: center;
}

td {
  border: 1px solid black;
}
