/*////////////////LAYOUT/////////*/
body {
  text-align: center;
}

nav {
    list-style-type: none;
    background: #add;
}

li {
  display: inline-block;
  padding: 5px;
}

a {
  color: black;
  text-decoration: none;
}



footer {
  margin: 10px 0;
}




/*////////////////HOME/////////*/

.container {
  height: 500px;
  max-width:  100%;
  background-color: gray;
  padding: 15px 0 0 0;
}

#home h1 {
  font-size: 5em;
}

/*////////////////USERS/////////*/

.myPals {
  width: 63%;
  display: inline-block;
}

.filterPals, .palRequests {
  border: 1px solid #bbb;
  background-color: #bbb;
  padding: 0.4em;
  width: 33%;
  display: inline-block;
  border-radius: 10px;
}

button {
  box-shadow: 1px 1px 5px;
}

/*////////////////Misc/////////*/

.center {
  text-align: center;
}

.text {
  text-align: left;
  margin: 5%;
}
