<h1 class="center">Send a new Message</h1>
<section id="new-message" class="messages center">
  <form action="/messages/new" method="POST" role="form">
   <input type="hidden" class="form-control" name="user" value="<%= currentUser.id%>">
   <input type="text" class="form-control" name="pal" placeholder="Palname"><br>
   <textarea type="text" class="form-control" name="text" maxlength="2000" placeholder="enter message..."></textarea><br>
   <button class="btn btn-default" type="submit">Send</button>
  </form>
</section>
