<h1>PAAAAAALLLLZZZ PAGE</h1>
<% var randNum = Math.floor(Math.random()*users.length); %>
<% users.forEach(function(user, index) { %>
  <% if (index === randNum) { %>
   <div class="temp user info">
     <p><strong>We have found a potential pal!</strong><br />
       <h2><%= user.userName %></h2><br />
     Would you like to add <%= user.userName %>?</p>
   </div>
  <% } %>
<% }); %>
