<% if (typeof pending !== 'undefined' && typeof newPal !== 'undefined') { %>
  <p><%= newPal[0].userName %> wanted you as their pal!<br />Would you like to become their pal?</p>
  <form action='/users/addpal' method='POST'>
    <input type='hidden' name='pal' value=''>
    <button type='submit' name='palbutton' value='YES'>Add</button> <button type='submit' name='palbutton' value='NO'>Decline</button>
  </form>
<% } else { %>
  <% if (typeof accORrej === 'undefined') { %>
    <p>You currently have no pending Pal requests.</p>
  <% } else if (accORrej === 'YES') { %>
    <% console.log(palName) %>
    <p>You've accepted <%= palName %> as a new pal!</p>
  <% } else if (accORrej === 'NO') { %>
    <p>You've declined <%= palName %>'s request.</p>
  <% } %>
<% } %>
