<section id="newUserForm">
  <h1>Hi new user! Fill out this form to get started:</h1>
  <form action="/auth/signup" method="POST" role="form">
    <div>
      Username (required, alphanumeric): <input type='text' id='userName' placeholder='myname01'/>
    </div>
    <div>
      Password (required, alphanumeric): <input type='text' id='userName' placeholder='sUp3rS3kr3t'/>
    </div>
    <div>
      Language (required, alpha only): <input type='text' id='userName' placeholder='english'/>
    </div>
    <button type="submit" id="newUsrBtn">Get Started!</button>
  </form>
</section>
