<section id="newUserForm">
  <h1>Hi new user! Fill out this form to get started:</h1>
  <div class="container">
  <form action="/auth/signup" method="POST" role="form">
    <div>
      Username (required, alphanumeric): <input type='text' id='username' class='form-control' name='username' placeholder='myname01'/>
    </div>
    <div>
      Password (required, alphanumeric): <input type='text' id='password' class='form-control' name='password' placeholder='sUp3rS3kr3t'/>
    </div>
    <div>
      Password (required, alphanumeric): <input type='text' id='password' class='form-control' name='password2' placeholder='sUp3rS3kr3t'/>
    </div>
    <div>
      Language (required, alpha only): <input type='text' id='language' class='form-control' name='language' placeholder='english'/>
    </div>
    <div>
      Would you like to be someone's pal?: <input type='checkbox' id='palRecipient' class='form-control' name='palRecipient'>
    </div>
    <button type="submit" id="newUsrBtn">Get Started!</button>
  </form>
  </div>
</section>
