<section id="newUserForm" class="body">
  <h1>Hi new user! Fill out this form to get started:</h1>
  <div class="container">
  <form action="/auth/signup" method="POST" role="form">
    <div>
      <p>Username (alphanumeric):</p><input type='text' id='username' class='form-control' name='username' placeholder='myname01'/>
    </div>
    <div>
      <p>Password (alphanumeric): </p><input type='text' id='password' class='form-control' name='password' placeholder='sUp3rS3kr3t'/>
    </div>
    <div>
      <p>Confirm Password: </p><input type='text' id='password' class='form-control' name='password2' placeholder='sUp3rS3kr3t'/>
    </div>
    <div>
      Language: <select id='language' class='form-control' name='language'></select>
    </div>
    <br>
    <div>
      Would you like to be someone's pal?: <input type='checkbox' id='palRecipient' class='form-control' name='palRecipient' checked>
    </div>
    <button type="submit" id="newUsrBtn">Get Started!</button>
  </form>
  </div>
</section>
<script src='../scripts/languages.js'></script>
